<h2 class="content-block">Home</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Staff Member</div>
                <div class="dx-field-value">
                    <dx-select-box
                        valueExpr="workFlowMaxId"
                        displayExpr="name"
                        [dataSource]="staff">
                    </dx-select-box>
                </div>
            </div>
        </div>
    </div>
</div>
